extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Joe Turner

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I moved to Miami and decided I needed a career change. Maybe it was the paradise weather or the spicy cuban food that got me thinking.
            | I was born in Portland, OR and math was my favorite subject throughout my schooling. Which naturally carried me into 
            | achieving an Electrical Engineering degree, which lead to a career in industrial controls. 
            | My career has been great. However, the move across the country got me thinking about things. I realized what I was doing was 95% work, and 5% a weird sort of fun.
            | Whereas, I discovered that coding is great fun... and accessible, and I believe fits my lifestyle and personality. I decided to take the plunge and learn about full stack javascript development. 
            br
            br
            | I met my wife-to-be in Portland, and we moved to Miami together in 2019.
            | In Janurary 2020, we got married. In February, we moved to NY city with our dog and cat. And now currently in March, we are hunkering down and fighting the coronavirus
            | pandemic along with everyone else. 2020 has been a crazy year. If the year has been this unpredictable, I have no doubt that something as crazy as me finding a job in something
            | I enjoy is possible. Here's to me hoping that I continue to enjoy coding, and someday being able to do this as a living. Thanks for visiting!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML/CSS
          li DOM Manipulation
          li front and backend Javascript
          li Express
          li Node.js
          li NPM Modules
          li API Requests
          li GIT
          li Debugging 
        h6 Contact Info

        ul
          li 503-475-9242
          li toejurner@gmail.com

        a.button.expanded(target= "_blank" href='https://www.linkedin.com/in/joe-turner-90136044') LinkedIn
        a.button.expanded(target= "_blank" href='https://github.com/joegturner') GitHub

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  