extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Joe Turner

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I graduated with an Electrical Engineering degree and have been working as an industrial controls engineer for the past 8 years.
            | My career has been a fullfilling and stable path, however I began to seek something different and decided to give coding a try.
            | Coding has been refreshing and a ton of fun! It's also very accessible and I believe fits my lifestyle and personality. I decided to take the plunge and learn full stack javascript development.
            br
            br
            | My dream is to carry on my passion for coding while continuing to expand my skillset. Here's to hoping that one day I will be able to give back to the community with my knowledge. 
            | Please feel free to contact me, and thank you for visiting! 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies
        ul
          li HTML/CSS
          li Node.js
          li Express
          li Restful API
          li Sequelize ORM
          li React
          li GIT
        h6 Commonly Used Tools
        ul
          li API Fetch Requests
          li User Authentication
          li Relational Databases
          li DOM Manipulation
          li Error Validation and Handling
          li Debugging
        h6 Contact Info
        ul
          li 503-475-9242
          li joe.g.turner@gmail.com

        a.button.expanded(target= "_blank" href='https://www.linkedin.com/in/joe-turner-90136044') LinkedIn
        a.button.expanded(target= "_blank" href='https://github.com/joegturner') GitHub

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  